body {
    font-family: Lato, "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 2;
    color: #5a3b3b;
    width: 80%;
    max-width: 50em;
    margin: 0 auto;
    padding: 2em 1em;
    background-color: #fff;
    display: block;
}
header {
    text-align: center;
    padding-bottom: 1em;
}

h1,h2,h3,h4,h5{
    margin: 0;
}
.description{
    margin: 5px 0px;
}
h2 {
    font-weight: normal;
}
h2, h4, strong {
    padding-top: 1em;
    color: #333;
}
a {
    color: #2CC1ED;
    line-height: 1.5;
    text-decoration: none;
}
footer {
    margin-top: 3em;
    text-align: center;
}
.open-source a {
    display: inline-block;
    float: left;
}
.open-source .badges {
    display: inline-block;
    float: right;
    padding-right: 5px;
    padding-top: 0.25em;
}
.project {
    margin: 10px 0px;
}
clear {
    clear: both;
    display: block;
}

footer a {
    padding: 0 20px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog span {
    margin-right: 20px;
    font-size: 13px;
}

.blog a {    
    font-size: 13px;
}

main {
    margin: 0px 25px;
}

#icons {
    margin-bottom: 25px;
}

.caption {
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {

    .blog  span, .blog h3 {
        font-size: 15px;
    }
}